<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158898518103-1m5n0vbiujj5arbrdb8srituad598s0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158898518103-1m5n0vbiujj5arbrdb8srituad598s0s</string>
	<key>API_KEY</key>
	<string>AIzaSyBbjnIWoGH8Sa8utPPtfajtJem62j4638o</string>
	<key>GCM_SENDER_ID</key>
	<string>158898518103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maverick.go.mavental</string>
	<key>PROJECT_ID</key>
	<string>goldenowl-mavental</string>
	<key>STORAGE_BUCKET</key>
	<string>goldenowl-mavental.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158898518103:ios:a5c4c4773bf157f1544b12</string>
</dict>
</plist>